<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <title>게시물 조회 페이지</title>
  <script>
    console.log("test");
  </script>
</head>

<body>  <!-- ✅ 반드시 필요 -->
<div layout:fragment="content">
  <div class="container mt-5">
    <h2 class="mb-4">게시글 조회</h2>

    <div class="p-4 bg-white rounded shadow-sm">
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" th:value="${boardDetail.title}"
               required>
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="5" th:text="${boardDetail.content}"
                  required></textarea>
      </div>
    </div>
  </div>
</div>

</body>

</html>
